DB_HOST=127.0.0.1
DB_USER=
DB_PASS=
DB_PORT=3306
DB_LOG_SCHEMA=svmobigames_Rancard_tel
ADV_DB=advertiserdb
APP_MODE=production
GAMEZOP_API_KEY=

RANCARD_CP_ID=
RANCARD_TEST_MSISDN=
RANCARD_TEST_TRANSACTION_PRICE=
